.routesDataMobile__container{
    display: flex;
    width: 230px;
    height: 70px;
    border-radius: 8px;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 3;
}
.routesDataMobile__container div:first-child {
    margin-right: 30px;
}
.routesDataMobile__container div h2 {
    margin-right: 8px;
    font-size: 12px;
}
